<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <h1>SubDjangits</h1>
 {% include 'navbar.html' %}
 <br>
 <br>
 <div class="card add-subk-wrap">
   <div class="card-header">
     <h3>Create a new Community</h3>
     <div class='container'>
       <form class='sub-form' method='post'>
           {{%csrf_token %}
           {{ form.as_p }}
           <input type="submit" value="Submit" />

       </form>
     </div>

     </div>
 </div>