<!DOCTYPE html>
<html>
  <style>
    .container {
      background-color: #f6f6f6;
      text-align: center;
      font-family:proxima-nova, sans-serif !important;
      font-style: normal;
      font-size: 14px;
      font-weight:400;
      letter-spacing: 3px;
      color: #231f20;
      text-transform: uppercase;
      line-height: 1.5em;
    }
  </style>
  {% include 'navbar.html' %}
 <h1>SubDjangits</h1>

 <h3>Create a new Community</h3>
     <form class='sub-form' method='post'>
        {{%csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Submit" />

    </form>
 
 </html>