<!DOCTYPE html>
<html>
  <style>
    .comment {
      color: #231f20;
    }
    .container {
      text-align: center;
    }
  </style>

  {% include 'comment.html' %}
  <body class="container">
    <p>title: {{ post_to_comment_on.title }}</p>
    <p>body: {{ post_to_comment_on.body }}</p>
    <p>url: {{ post_to_comment_on.url }}</p>
    <br />
    <br />
    <h2>COMMENT</h2>
    {% for comment in comments %}
    <p>
      Comment belong to this post: <b>{{ comment.post }}</b>
    </p>
    <p class="comment">user: {{ comment.user }}</p>
    <p class="comment">text: {{ comment.text }}</p>
    <p class="comment">created date: {{ comment.created_date }}</p>
    <a
      href="/deletecomment/{{ comment.id }}/{{ post_to_comment_on.url }}
/{{ post_to_comment_on.id }}/"
      >delete</a
    >
    <br />
    {% endfor %}
  </body>
</html>
