{% for sub in subdjangit %}
<h1>{{ sub.title }}</h1>
<h1>Subdjangit moderator: {{ sub.moderator }}</h1>
<h3>r/{{ sub.url }}</h3>
<h1>{{ sub.about }}</h1>
<h1>{{ sub.created_at }}</h1>
<h1>Welcome, {{ request.user.username }}</h1>
<a href="/">Home</a>
<a href="/subscribe/{{ sub.url }}">Join</a>
{% endfor %} {% for post in posts %}
<div>
  <p>title: {{ post.title }}</p>
  <p>body: {{ post.body }}</p>
  <p>url: {{ post.url }}</p>
  <p>{{ post.vote_score }}</p>
  <button class="button" name="upvote" type="submit" value="upvote">upvote</button>
  <button class="button" name="downvote" type="submit" value="downvote">downvote</button>
</br>
</div>
{% endfor %} {% include 'postform.html'%}
